.first {
    padding: 0;
    margin: 0;
}

.frase {
    height: 100vh;
    width: 100%;

    background-image: none;
}

#frase {
    position: relative;
    top: 20%;
    font-size: 5rem;
    text-align: center;
    padding: 0 10%;
}

.captura {
    height: 100vh;
}

.pin-wrap {
    background: #ebeff5;
    color: #333;
}


.motivos {
    display: flex;
    flex-direction: row;
}


.motivo {
    width: 100vw;
    height: 100vh;
}

.escolhas {
    background: #b7b6b6;
}

.titulo {
    font-size: xx-large;
}

section.chamada{
    background: #aaff72;
    border: none;
    width: 100%;
    padding: 100px;
}

::-webkit-scrollbar {
    display: none
}

@media (max-width: 450px) {
    .alvo {
            font-size: 40px;
    }
}