html::-webkit-scrollbar{
    animation-delay: 50ms;
}

section.chamada{
    /* background: #aaff72; */
    
    background: #eff1ef;
    border: none;
    width: 100%;
    padding: 100px;
    color: #000;
}



