.servicos {
    display: flex;
    background: rgba(25, 240, 57, 0.451);

    flex-direction: column;
    gap: 20px;
    padding: 20px 0;

}

.servico{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 0 200px;
    img{
        height: 300px;
    }
}

.servico:nth-child(even){
    justify-content: end;
    flex-direction: row-reverse;
}
.servico .sobre{
    text-align: justify;
}