@import url(homeChamada.css);
@import url(homeServicos.css);
@import url(homeSideScroll.css);
@import url(homeCaptura.css);
@import url(homeFrase.css);


.first {
    height: 100vh;
    width: 100%;
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    /* background-color: #F5EFE6; */
}

::-webkit-scrollbar {
    display: none
}

@media (max-width: 450px) {
    .alvo {
        font-size: 40px;
    }
}