section {
    width: 60%;
    margin: 0 auto;
}

.selecaoPacote {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 7px;

}

.tipoPacote {

    background: aqua;
    border-radius: 7px;
    width: 100%;
    text-align: center;

    a {
        text-decoration: none;
        color: #000000;
    }
}

.eventos,
.empresas {
    width: 70vw;
    margin-top: 1rem;
}

.empresas {
    display: none;
}

.pacotes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5px;
    gap: 5px;
    width: fit-content;
}

.valor {
    padding: 20px;
    background: greenyellow;
    width: 20rem;
    border: 2px solid black;
    border-radius: 7px;
    height: 280px;

    a {
        text-decoration: none;
        color: #000000;

        h1 {
            padding: 20px;
        }
    }
}

.conteudo {

    list-style-position: inside;

    ul {
        padding: 0 0 0 20px;
        list-style-type: none;
    }
}

.visivel {
    display: flex;
}