@import url("../node_modules/@glidejs/glide/dist/css/glide.core.css");
@import url("../node_modules/@glidejs/glide/dist/css/glide.theme.css");

.sobreEmpresa {
    width: 100vw;

    padding: 20px 0;
    padding-top: 100px;
    display: flex;
    align-items: center;
    /* justify-items: center; */
    flex-direction: column;

    div {
        width: 60vw;
    }
}

.logoEmpresa {
    margin: 0 auto;
    display: none;
}

.sobreCeos {
    /* background-color: rgb(211, 212, 212); */
    background: rgb(204, 251, 183);
    height: 80vh;
    display: flex;
    justify-content: center;
}

.glide {
    width: 70vw;
}


.glide__slide,
.flip-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40dvw;
    height: 80dvh;
    perspective: 1000px;
}


.descricao {
    text-align: justify;
    padding-top: 20px;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
    }
}

.flip-card-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateX(180deg) rotateZ(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateX(180deg) rotateZ(180deg);
}