.sobreEmpresa {
    width: 60%;
    margin: 100px auto 0;
    padding: 20px 0;
}

.logoEmpresa {
    margin: 0 auto;

}

.sobreCeos {
    display: flex;
    margin: 0 auto;
    width: 80%;
}

.img img{
    width: 40%;
}