nav {
    z-index: 50;
    position: fixed;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 100px;
    margin: 0 auto;

    &> {
        max-width: 1080px;
    }

}

.menu-toggle {
    display: none;
}

.navWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    background: #ffffff;
    padding: 10px 30px;
    border-radius: 100px;
}


.logo {
    display: flex;

    img {
        width: 120px;
    }
}

.menu {
    list-style: none;
    font-size: 2rem;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
    padding: 3px 15px;
    /* background: white; */
}

.navItem {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 3px 10px;
    text-align: left;
    // border-radius: 1000px;

    a {
        text-decoration: none;
        color: black;
    }
}

.navItem:hover {
    transition: 0.2s linear;
    background: rgb(241, 241, 241);
}

.contato {
    font-size: 1.5rem;
    width: fit-content;
    height: fit-content;
    border: 1px solid #facf41;
    border-radius: 1000px;
    padding: 10px;
    background: #ffd752;
}

.led {
    width: 10px;
    height: 10px;
    /* margin: 0 3px 0 5px; */
    border-radius: 50%;
    border: 1px solid black;
    background: #930101;
}

.contato:hover {
    transition: 0.2s linear;
    background: #f9c002;

    .led {
        animation: contatoHover 0.5s ease-in-out alternate infinite;
    }

    @keyframes contatoHover {
        from {
            background: #930101;
        }

        to {
            background: #ff0000;
            filter: brightness(1.3);
        }
    }
}


#contato {
    text-decoration: none;
    color: black;
}

.destaque {
    color: #D4AF37;
}



@media (max-width: 1080px) {
    $transitionTime: 0.7s;

    nav {
        display: flex;
        flex-direction: column;
        align-items: end;

        overflow-x: auto;

        width: 50dvw;
        height: 100dvh;

        top: 0;
        right: -50dvw;

        &.reveal {
            right: 0;
            transition: right $transitionTime;
        }

        &.hide {
            right: -50dvw;
            transition: right $transitionTime;
        }


        .navWrapper,
        .menu {
            flex-direction: column;
        }

        .menu {
            padding-top: 50px;
            align-items: start;
            width: 100%;
        }

        .navWrapper {
            padding-top: 30px;
            height: 100%;
            width: 80%;
            border-radius: 10px 0 0 10px;
            margin: 0;
            justify-content: start;
        }
    }

    div.container-menu-toggle {
        width: 100%;
        height: 72px;
        background-color: #204c2c;
        position: absolute;
        transition: top $transitionTime;
    }

    .menu-toggle {
        position: absolute;
        top: 20px;
        right: 30px;
        display: flex;
        justify-content: end;

        z-index: 10000;
        height: 2rem;
        padding: 2px;

        border-radius: 25%;
        // background-color: #fff;
        background-clip: border-box;
        transition: right $transitionTime;

        svg {
            position: relative;
            top: 0;
            right: 0;
            width: 2rem;
            height: 2rem;
            display: none;

            .menu-icon-stripe {
                fill: #000;
            }

            .menu-icon-x {
                fill: #000;
            }
        }

        .menu-icon-active {
            display: flex;
            align-self: self-end;
        }
    }

    .contato {
        font-size: 1.5rem;
        flex-direction: row;
    }

}

@media (max-width:426px) {
    nav>.navWrapper {
        width: 100%;
    }

    .menu-toggle {
        // width: 50dvw;
        display: flex;
        justify-content: center;
        // right: 0;
    }
}