.first {
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
}

#frase {
    font-size: 5.5rem;
    text-align: center;
    // TODO arrumar tirar essa porcentagem meme e esse rem que nem sei o que é
    padding: 0 10%;
    color: #2f7041;
}


.frase {
    background-image: url(../../imgs/teste.jpg);
}

// slideshow begin

.slider {
    $animationSpeed: 80s;
    $slideWidth: 350px;
    $slideQuantity: 20;
    
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);

    margin: auto;
    overflow: hidden;
    position: relative;


    &::before,
    &::after {
        content: "";
        height: 100px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    .slideTrack {
        display: flex;
        width: calc($slideWidth * $slideQuantity);

    }

    >.toRight {

        animation: toRight $animationSpeed linear 100ms infinite alternate;
    }

    >.toLeft {

        animation: toLeft $animationSpeed linear 100ms infinite alternate;
    }

    .slide {
        width: $slideWidth;
    }

    @keyframes toLeft {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-1*($slideWidth * $slideQuantity) / 2));
        }
    }

    @keyframes toRight {
        0% {
            transform: translateX(calc(-1* ($slideWidth * $slideQuantity) / 2));
        }

        100% {
            transform: translateX(0);
        }
    }
}


//slideshow end

//sidescroll begin
.captura {
    background-color: #204c2c;
    background-attachment: fixed;
    background-image: url(../../imgs/logo\ -\ t\ rec\ 3.png);
    background-size: 50dvh;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.item {
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    letter-spacing: -.05em;
    display: inline-block;
    font-weight: 600;
}

section.horizontal {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;

    .pin-wrap,
    .animation-wrap {
        display: flex;
        position: relative;
        height: 100dvh;
    }
}

section.horizontal .item {
    position: relative;
    padding: 150px 80px;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

//sidescroll end

.servicos {
    display: flex;
    /* background: rgba(25, 240, 57, 0.451); */
    /* background: #eff1ef;
    background: #112817; */
    flex-direction: column;
    // gap: 20px;
    padding: 30px 0;
}

.servico {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 200px;

    img {
        height: 300px;
        // display: none;
    }
}

.servico:nth-child(even) {
    justify-content: end;
    flex-direction: row-reverse;
}

.descricaoServico {
    text-align: justify;
    // line-height: 2rem;
    padding: 70px 70px;
    font-size: 3rem;
}

span.especial-1,
span.especial-2,
span.especial-3 {
    border-radius: 100px;
    padding: 0.5rem 2rem;
    color: #000;
}

span.especial-1 {
    background-color: rgba(255, 255, 0, 0.772);
}

span.especial-2 {
    background-color: rgba(127, 255, 212, 0.772);
}

span.especial-3 {
    background-color: rgba(210, 105, 30, 0.772);
}

section.chamada {
    /* background: #aaff72; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #eff1ef;
    border: none;
    width: 100%;
    padding: 100px 0;
    color: #000;

    font-size: 3rem;

    div {
        margin: 0;
    }

    button.contato {
        font-size: 2rem;
        cursor: pointer;
        padding: 20px 80px;

    }
}